/* Start Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End Reset */

/* Start Utility Classes */

.profile-card,
figure img,
.name,
.location,
.author-main,
.smedia-links,
.link {
    transition: all 0.3s ease;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;
}

body,
main,
html {
    height: 100%;
}

/* End Utility Classes */

main {
    background-color: #141414;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1f1f1f;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 327px;
    min-height: 579px;
}

figure {
    width: fit-content;
}

figure img {
    max-width: 88px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.author-head {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: center;
}

.name {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
}

.location {
    color: #c4f82a;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 150%;
}

.author-main {
    text-align: center;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 150%;
}

.smedia-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    width: 100%;
}

.link {
    display: block flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    flex: 1;
    font-size: 0.875rem;
    line-height: 150%;
    background-color: #333333;
    border-radius: 0.75rem;
}

.link:hover,
.link:focus {
    background-color: #c4f82a;
    color: #333333;
}

.attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
}
.attribution a {
    color: #c4f82a;
}

@media screen and (min-width: 768px) {
    .profile-card {
        width: 384px;
        min-height: 611px;
        padding: 2.5rem;
    }
}
